{#{{ attach_library('application-form') }}#}

{#<div class="map">#}
    {#{% for form in data.form_names %}#}
        {#{% if (data.form_title == form[1])  %}#}
            {#<div class="step active">{{ form[1] }}</div>#}
        {#{% else %}#}
            {#<div class="step">{{ form[1] }}</div>#}
        {#{% endif %}#}
    {#{% endfor %}#}
{#</div>#}
<h1>Предпросмотр заявки</h1>
<div class="output">
    {% for field in data.values %}
        <div class="list">
            <div>{{ field['title'] }}</div>
            <div>{{ field['value'] }}</div>
        </div>
    {% endfor %}
</div>
<div>{{ data.form }}</div>